name: CI/CD Pipeline

on:
  push:
    branches: [ main, master, elefkapo ]
  pull_request:
    branches: [ main, master, elefkapo ]

jobs:
  test:
    runs-on: ubuntu-latest
    services:
      mongodb:
        image: mongo:6.0
        ports:
          - 27017:27017
        options: >-
          --health-cmd "mongosh --eval 'db.adminCommand(\"ping\")'"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '20'
        cache: 'npm'

    - name: Install Dependencies
      run: npm ci

    - name: Run Tests
      run: npm run test:coverage
      env:
        MONGO_URI: mongodb://localhost:27017/test_db
        JWT_SECRET: test_secret

  performance:
    needs: test
    runs-on: ubuntu-latest
    services:
      mongodb:
        image: mongo:6.0
        ports:
          - 27017:27017
    steps:
      - uses: actions/checkout@v4
      
      - uses: actions/setup-node@v4
        with:
          node-version: '20'
      
      - name: Install Dependencies
        run: npm ci

      - name: Install k6 (Direct Binary)
        run: |
          curl -L https://github.com/grafana/k6/releases/download/v0.47.0/k6-v0.47.0-linux-amd64.tar.gz | tar -xz
          # This moves the k6 executable to a folder already in the system PATH
          sudo mv k6-v0.47.0-linux-amd64/k6 /usr/local/bin/k6
          # Verify installation
          k6 version
    

      - name: Run Performance Tests
        run: |
          k6 run performance-tests/load_devices.js
          k6 run performance-tests/spike_devices.js
          k6 run performance-tests/load_rooms.js
          k6 run performance-tests/spike_rooms.js

  deploy:
    needs: [test, performance]
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    steps:
      - name: Deploy to Render
        run: curl "${{ secrets.RENDER_DEPLOY_HOOK }}"